@media print {

  #grid_782289904_0_toolbarItems {
    display: none;
  }

  .e-gridpager.e-control.e-pager.e-lib {
    display: none;
  }

  .e-icons.e-dtdiagonaldown.e-icon-gdownarrow,
  .e-icons.e-dtdiagonalright.e-icon-grightarrow {
    display: none;
  }

  .e-emptyrow {
    display: none !important;
  }

  .e-grid.e-default * {
    height: auto !important;
    overflow: hidden !important;
  }

  .e-sortfilterdiv.e-icons.e-ascending.e-icon-ascending {
    display: none;
  }

  .e-sortnumber {
    display: none;
  }
}

.subsidary-area {
  margin-top: 10px;
}

.e-grid .e-groupdroparea {
  background: #4d841d55;
}

.e-grid .e-groupheadercell {
  background: #4d841d;
}

.e-grouptext {
  width: auto;
}

.e-grid-icon.e-groupheadercell {
  background: #4d841d;
  width: auto;
}
