.title {
  width: 50%;
  float: left;
  font-family: unset;
  color: #4d841d;
  font-size: x-large
}

.bread-crumb {
  width: 50%;
  float: left;
  height: 3em;
  color: #4d841d;
  margin-left: 65%;
}

div {
  display: flex;
  align-items: center;
}
