<form [formGroup]="catagoryForm" (ngSubmit)="onSubmit()" name="accountForm">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <label for="Catagory name">Catagory Name</label>
        <div>
          <input
            type="text"
            id="CatagoryName"
            name="CatagoryName"
            class="e-input"
            formControlName="CatagoryName"
          />
          <div
            class="e-error"
            *ngIf="CatagoryName.errors && CatagoryName.touched"
          >
            <div *ngIf="CatagoryName.errors['required']">
              *Catagory name is Required
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <label for="Account type"> Account Type</label>
        <div>
          <ejs-dropdownlist
            id="AccountType"
            name="AccountType"
            [width]="550"
            formControlName="AccountType"
            [dataSource]="accountTypes"
          ></ejs-dropdownlist>
          <div
            class="e-error"
            *ngIf="AccountType.errors && AccountType.touched"
          >
            <div *ngIf="AccountType.errors['required']">
              *Account type is Required
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <app-form-options
        [submitDisabled]="catagoryForm.invalid"
      ></app-form-options>
    </div>
  </div>
</form>
