div.content {
  padding: 1em;
}

@media print {
  .e-control.e-btn.e-lib {
    display: none
  }
}

.e-control.e-btn.e-lib {
  background-color: #4d841d;
  color: white;
}

table {
  font-family: 'Courier New', Courier, monospace;
  background: white;
  margin-top: 20px;
}

.e-control.e-btn.e-lib {
  margin-top: 10px;
}
