<div class="dashboard">
  <div class="row">
    <div
      class="col-lg-3 col-sm-4"
      *ngFor="let items of dashboardItems; let i = index"
    >
      <div class="items-panel" [attr.class]="items.class">
        <div class="item-name" (click)="itemClicked(items)">
          {{ items.name }}
          {{ items.value }}
        </div>

        <div class="icons">
          <i [attr.class]="items.icon"></i>
        </div>
      </div>
    </div>
  </div>
  <ejs-dialog
    #promptDialog
    [buttons]="promptDlgButtons"
    [visible]="false"
    [isModal]="true"
    [header]="promptHeader"
    [animationSettings]="animationSettings"
    [showCloseIcon]="showCloseIcon"
    [width]="1500"
    [height]="1200"
    (overlayClick)="onOverlayClick()"
  >
    <ng-template #content>
      <app-data-view
        [data]="data"
        [columnsList]="columnBluePrint"
        [showAdd]="false"
        [enableSorting]="true"
        [showUpdate]="true"
        [showDelete]="true"
        (deleteRecord)="deleteLedgerEntry($event)"
        [showPrint]="true"
        [enableSearching]="true"
        [enablePaging]="true"
        (dataStateChaged)="onDataStateChanged($event)"
        [showColumnChooser]="true"
      ></app-data-view>
      <!-- <app-data-view [showAdd]="false"></app-data-view> -->
    </ng-template>
  </ejs-dialog>

  <div class="row">
    <div class="col-12">
      <ejs-chart
        id="chart-container"
        [primaryXAxis]="primaryXAxis"
        [title]="title"
        [titleStyle]="titleStyle"
      >
        <e-series-collection>
          <e-series
            [dataSource]="chartData"
            type="Line"
            xName="month"
            yName="sales"
            width="2"
            name="China"
            [marker]="marker"
          ></e-series>
        </e-series-collection>
      </ejs-chart>
    </div>
  </div>
</div>
