<section>
  <h3 class="text-left text-info">
    <span class="delete">
      <button
        ejs-button
        type="button"
        class="e-warning"
        *ngIf="isUpdate"
        iconCss="e-icons e-delete-icon"
        (click)="deleteAccount()"
      >
        Delete
      </button>
    </span>
  </h3>

  <form
    [formGroup]="accountForm"
    novalidate
    (ngSubmit)="onSubmit()"
    name="accountForm"
  >
    <div class="content">
      {{ this.accountForm.value | json }}
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-12">
              <label for="accountName">Account Name</label>
              <div>
                <input
                  type="text"
                  id="accountName"
                  name="AccountName"
                  class="e-input"
                  formControlName="Name"
                />
                <div class="e-error" *ngIf="Name.errors && Name.touched">
                  <div *ngIf="Name.errors['required']">
                    *Account Name is Required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Account Id Input-->
            <div class="col-12">
              <label for="accountId">Account ID</label>
              <div>
                <input
                  type="text"
                  id="accountId"
                  name="accountId"
                  class="e-input"
                  formControlName="AccountId"
                />
                <div
                  class="e-error"
                  *ngIf="AccountId.errors && AccountId.touched"
                >
                  <div *ngIf="AccountId.errors['required']">
                    *Account Id is Required
                  </div>
                  <div
                    *ngIf="
                      AccountId.errors['minlength'] ||
                      AccountId.errors['maxlength']
                    "
                  >
                    *Account ID must be 4 chars long
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="parentAccount"> Parent Account</label>
              <div>
                <app-account-selector
                  formControlName="ParentAccount"
                ></app-account-selector>
                <div
                  class="e-error"
                  *ngIf="ParentAccount.errors && ParentAccount.touched"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Second Column Starts-->
        <div class="col-md-6 col-sm-12">
          <!-- Account Catagory-->
          <div class="row">
            <div class="col-12">
              <label for="accountCatagory">Account Catagory</label>
              <div>
                <app-account-category-selector
                  formControlName="CatagoryId"
                ></app-account-category-selector>
                <div
                  class="e-error"
                  *ngIf="CatagoryId.errors && CatagoryId.touched"
                >
                  <div *ngIf="CatagoryId.errors['required']">
                    *Account Catagory is Required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12" *ngIf="!isUpdate">
              <label for="openingBalance"> Opening Balance </label>
              <div>
                <ejs-numerictextbox
                  id="openingBalance"
                  name="openingBalance"
                  class="e-input"
                  [width]="150"
                  formControlName="OpeningBalance"
                >
                </ejs-numerictextbox>
              </div>
            </div>
          </div>
          <!--Account Status Block Active-->
          <div class="row">
            <div class="col-12">
              <label for="status"
                >Active
                <ejs-switch
                  formControlName="Active"
                  id="status"
                  name="status"
                ></ejs-switch>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!--Submit Button Area-->
      <app-form-options
        [submitDisabled]="accountForm.invalid"
      ></app-form-options>
    </div>
  </form>
</section>
<!-- Opening Balance Input Field-->
