<app-print-header [header]="'Chart of accounts'"></app-print-header>
<app-grouped-data-view
  [gridData]="data"
  [showUpdate]="true"
  [addPrivilage]="'canAddNewAccount'"
  [updatePrivilage]="'canEditAccount'"
  [deletePrivilage]="'canDeleteAccount'"
  [showDelete]="true"
  [columnsList]="columnBluePrint"
  [groupBy]="groupBy"
  (dataStateChaged)="dataStateChange($event)"
  (deleteRecord)="deleteAccount($event)"
  #grid
  [showPrint]="true"
  [showExcelExport]="true"
>
</app-grouped-data-view>
