@media print {
  #accounts_toolbarItems {
    display: none;
  }

  #accounts * {
    height: auto !important;
  }
}

#accounts_content_table {
  font-family: 'Courier New', Courier, monospace;
}

.e-customizedExpandcell {
  background-color: rebeccapurple;
}

.e-grid.e-gridhover tr[role='row']:hover {
  background-color: #eee;
}

/* .e-groupdroparea.e-grouped.e-lib.e-droppable.e-draggable {
  display: none;
} */
