<ejs-accordion>
  <div>
    <div>
      <div>Filter</div>
    </div>
    <div>
      <div>
        <form [formGroup]="filterForm" name="filterForm">
          <div class="filter-options">
            <div class="container-fluid">
              <div class="row">
                <div class="col-4">
                  <label for="year">Year</label>
                  <ejs-dropdownlist
                    id="year"
                    [dataSource]="years"
                    name="year"
                    placeholder="Year"
                    formControlName="Year"
                    [fields]="yearTypeFields"
                    [dataSource]="yearList"
                  ></ejs-dropdownlist>
                </div>
                <div class="col-4">
                  <label for="start date">Start date</label>
                  <ejs-datepicker
                    [enabled]="allowDateSearch"
                    formControlName="StartDate"
                    id="start-date"
                    name="start-date"
                    placeholder="Start date"
                  >
                  </ejs-datepicker>
                </div>
                <div class="col-4">
                  <label for="end date">End date</label>
                  <ejs-datepicker
                    formControlName="EndDate"
                    [enabled]="allowDateSearch"
                    id="end-date"
                    name="end-date"
                    placeholder="End date"
                  >
                  </ejs-datepicker>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label for="voucher start">Voucher start</label>
                  <input
                    formControlName="VoucherStartId"
                    type="text"
                    id="voucher-start"
                    name="voucher-start"
                    class="e-input"
                    placeholder="Voucher start"
                  />
                </div>
                <div class="col-4">
                  <label for="voucher end">Voucher end</label>
                  <input
                    formControlName="VoucherEndId"
                    type="text"
                    id="voucher-end"
                    name="voucher-end"
                    class="e-input"
                    placeholder="Voucher end"
                  />
                </div>
                <div class="col-4">
                  <label for="cost center">Cost center</label>
                  <app-lookup-selector
                    [type]="'cost center'"
                  ></app-lookup-selector>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label for="control account">Control account</label>
                  <input
                    formControlName="ControlAccount"
                    type="text"
                    id="control-account"
                    name="control-account"
                    class="e-input"
                    placeholder="Control account"
                  />
                </div>
                <div class="col-4">
                  <label for="subsidary">Subsidary</label>
                  <input
                    formControlName="Subsidary"
                    type="text"
                    id="subsidary"
                    name="subsidary"
                    class="e-input"
                    placeholder="Subsidary"
                  />
                </div>
                <div class="col-4">
                  <div class="row">
                    <div class="col-6">
                      <button
                        id="search-button"
                        type="button"
                        ejs-button
                        class="e-pluse e-info"
                        (click)="prepareFilter()"
                      >
                        Search
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ejs-accordion>
