.e-acrdn-header {
  background: #4d841d55;
  border-bottom: none;
  border-top: none;
}

.e-accordion .e-acrdn-item.e-expand-state.e-select {
  border-bottom: none;
  border-top: none;
}

.e-acrdn-header-content {
  color: black !important;
}

.e-acrdn-header.e-select.e-expand-state {
  background: #4d841d55;
}
