<div class="main">
  <div class="sidebar-content">
    <ejs-sidebar id="default-sidebar" #sidebar [type]="type" [target]="target">
      <div class="sidebar-header">
        Smart Accounting
      </div>
      <div class="user-panel">
        <div class="image">
          <span class="e-avatar e-avatar-circle">AP</span>
        </div>
        <div class="info">
          <div class="name">
            Appdiv system development
          </div>
          <div class="status">
            <small>Online</small>
          </div>
        </div>
      </div>
      <div class="center-align">
        <ejs-treeview
          #tree
          (nodeClicked)="loadRoutingContent($event)"
          id="treeelement"
          [fields]="field"
        >
          <ng-template #nodeTemplate="" let-data="">
            <div>
              <div>
                <i [attr.class]="data.icon" aria-hidden="true"> </i
                >{{ data.name }}
              </div>
            </div>
          </ng-template>
        </ejs-treeview>
      </div>
    </ejs-sidebar>
  </div>
  <div id="spinner-container"></div>
  <div class="content">
    <div>
      <div id="head" class="d-print-none">
        <button
          ejs-button
          id="toggle"
          #togglebtn
          cssClass="e-flat"
          iconCss="e-icons burg-icon"
          isToggle="true"
          (click)="btnClick()"
        ></button>
        <button
          id="account-dropdown"
          ejs-dropdownbutton
          [items]="items"
          content="{{ securityObject?.userName }}"
          iconCss="fas fa-user"
        ></button>
        <ejs-dropdownlist
          id="year-dropdown"
          (valueChange)="yearChanged($event)"
          [dataSource]="yearData"
          [fields]="yearFields"
          [value]="'2011'"
          [text]="'2011'"
          [width]="100"
          placeholder="Year"
        ></ejs-dropdownlist>
      </div>

      <!--  <ejs-toolbar>
        <e-items> </e-items>
      </ejs-toolbar> -->

      <div id="targetcontent">
        <div class="content-head">
          <app-page-identity></app-page-identity>
        </div>

        <div class="main-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
