<div class="main">
  <div class="sidebar-content">
    <ejs-sidebar id="default-sidebar" #sidebar [type]="type" [target]="target">
      <div class="sidebar-header">
        Smart Accounting
      </div>
      <div class="second-sidebar-header">
        Appdiv system development
      </div>
      <div class="center-align">
        <ejs-treeview
          #tree
          (nodeClicked)="loadRoutingContent($event)"
          id="treeelement"
          [fields]="field"
        ></ejs-treeview>
      </div>
    </ejs-sidebar>
  </div>
  <div class="content">
    <div>
      <div id="head" class="d-print-none">
        <button
          ejs-button
          id="toggle"
          #togglebtn
          cssClass="e-flat"
          iconCss="e-icons burg-icon"
          isToggle="true"
          (click)="btnClick()"
        ></button>
        <ejs-dropdownlist
          id="year-dropdown"
          [dataSource]="yearData"
          [fields]="yearFields"
          [width]="200"
          placeholder="Year"
        ></ejs-dropdownlist>
      </div>

      <!--  <ejs-toolbar>
        <e-items> </e-items>
      </ejs-toolbar> -->

      <div id="targetcontent">
        <div class="content-head">
          <app-page-identity></app-page-identity>
        </div>

        <div class="main-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
