.e-grouptext {
  width: auto;
}

.e-grid-icon.e-groupheadercell {
  background: #4d841d;
  width: auto;
}

.e-groupdroparea.e-grouped.e-lib.e-droppable.e-draggable {
  background: #4d841d55;
}

.schedule-area {
  margin-top: 10px;
}

.e-grid.e-groupdroparea * {
  background-color: #4d841d !important;
}

.e-control.e-dropdown-btn.e-lib.e-btn {
  background: #4d841d;
  color: white;
  border-radius: 4px;
}

.e-ungroupbutton.e-icons.e-icon-hide {
  display: none;
}

@media print {
  .e-icons.e-gdiagonaldown.e-icon-gdownarrow {
    display: none;
  }

  #accounts-schedule_toolbarItems {
    display: none;
  }

  .e-ungroupbutton.e-icons.e-icon-hide {
    display: none;
  }

  .e-groupsort.e-icons.e-ascending.e-icon-ascending {
    display: none;
  }

  .e-grid.e-default * {
    height: auto !important;
    overflow: hidden !important;
  }

  .e-control.e-dropdown-btn.e-lib.e-btn {
    display: none;
  }

  .e-groupdroparea.e-lib.e-droppable.e-draggable {
    display: none;
  }
}
