<form
  [formGroup]="ledgerForm"
  novalidate
  name="ledgerForm"
  (ngSubmit)="onSubmit()"
>
  <section>
    {{ ledgerForm.value | json }}
    <div class="container-fluid">
      <div class="section-one">
        <div class="row">
          <div class="col-5">
            <label for="voucherId">Voucher Id</label>
            <input
              type="text"
              id="voucher"
              name="voucher"
              class="e-input"
              formControlName="VoucherId"
            />
            <div class="e-error" *ngIf="VoucherId.errors && VoucherId.touched">
              <div *ngIf="VoucherId.errors['required']">
                *Voucher Id is required
              </div>
            </div>
            <label for="voucherId">Date</label>

            <ejs-datepicker
              formControlName="Date"
              id="date"
              name="date"
              placeholder="Select Date"
              [width]="400"
            >
            </ejs-datepicker>
            <div class="e-error" *ngIf="Date.errors && Date.touched">
              <div *ngIf="Date.errors['required']">
                *Date of Post is required
              </div>
            </div>
          </div>

          <div class="col-5">
            <label for="description">Description</label>
            <input
              type="text"
              id="description"
              name="description"
              class="e-input"
              formControlName="Description"
            />
            <div
              class="e-error"
              *ngIf="Description.errors && Description.touched"
            >
              <div *ngIf="Description.errors['required']">
                *Description is required!
              </div>
            </div>
            <label for="description">Reference</label>
            <input
              type="text"
              id="reference"
              name="reference"
              class="e-input"
              formControlName="Reference"
            />
          </div>
          <div class="col-1"></div>
          <div class="col-1" id="post-button">
            <button
              [disabled]="!ledgerForm.valid"
              id="add-button"
              [ngClass]="this.Posted.value ? 'bg-danger' : 'e-info'"
              type="button"
              ejs-button
              class="e-pluse e-info"
              (click)="setPostStatus()"
            >
              {{ Posted.value ? "Unpost" : "Post" }}
            </button>
          </div>
        </div>
      </div>

      <div class="section-two">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-5">
                Account Id
              </div>
              <div class="col-5">
                <div class="row">
                  <div class="col-6">
                    Debit
                  </div>
                  <div class="col-6">
                    Credit
                  </div>
                </div>
              </div>
              <div class="col-1"></div>
              <div class="col-1">
                Action
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              class="row"
              *ngFor="
                let account of Entries.controls;
                let i = index;
                let last = last
              "
              [formGroup]="account"
            >
              <div class="col-5">
                <div class="form-group">
                  <app-account-selector
                    formControlName="AccountId"
                    [attr.id]="'parentAccount' + i"
                    [attr.name]="'parentAccount' + i"
                  ></app-account-selector>
                </div>
                <div *ngIf=""></div>
              </div>
              <div class="col-5">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group text-center">
                      <ejs-numerictextbox
                        formControlName="Debit"
                        [attr.name]="'Debit' + i"
                        [width]="200"
                        [attr.id]="'Debit' + i"
                        placeholder="Debit"
                      >
                      </ejs-numerictextbox>
                      <div
                        class="e-error"
                        *ngIf="
                          account.get('Debit').errors &&
                          account.get('Debit').touched
                        "
                      >
                        <div *ngIf="account.get('Debit').errors['required']">
                          Debit is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group text-center">
                      <ejs-numerictextbox
                        formControlName="Credit"
                        [attr.name]="'Credit' + i"
                        [width]="200"
                        [attr.id]="'Credit' + i"
                        placeholder="Credit"
                      >
                      </ejs-numerictextbox>
                      <div
                        class="e-error"
                        *ngIf="
                          account.get('Credit').errors &&
                          account.get('Credit').touched
                        "
                      >
                        <div *ngIf="account.get('Credit').errors['required']">
                          Credit Is Required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-1"></div>
              <div class="col-1">
                <button
                  id="remove-button"
                  type="button"
                  ejs-button
                  cssClass="e-round e-danger e-small"
                  iconCss="e-icons e-close"
                  *ngIf="Entries.controls.length > 2"
                  (click)="removeRow(i)"
                ></button>
              </div>
            </div>
            <div class="row">
              <div class="col-5"></div>
              <div class="col-5">
                <div class="row">
                  <div class="col-6">
                    <p>{{ debitSum }}</p>
                  </div>
                  <div class="col-6">
                    <p>{{ creditSum }}</p>
                  </div>
                </div>
              </div>
              <div class="col-1"></div>
              <div class="col-1">
                <button
                  [disabled]="!Entries.valid"
                  id="add-button"
                  type="button"
                  ejs-button
                  class="e-pluse e-info"
                  cssClass="e-round e-primary e-small"
                  iconCss="e-icons e-plus-icon"
                  (click)="addForm()"
                ></button>
              </div>
            </div>
            <div class="row">
              <div class="col-12 last-section">
                <div class="e-error">
                  <p *ngIf="!isEqual && Entries.touched">
                    *Credit And Debit amount are not Equal
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-form-options
    *ngIf="!hideSubmit()"
    [isUpdate]="isUpdate"
    [submitDisabled]="ledgerForm.invalid || !isEqual"
  ></app-form-options>
</form>
