<form
  [formGroup]="ledgerForm"
  novalidate
  name="ledgerForm"
  (ngSubmit)="onSubmit()"
>
  <section>
    <div class="content card m-3">
      <div class="section-one">
        <div class="row">
          <div class="col-5">
            <label for="voucherId">Voucher Id</label>
            <input
              type="text"
              id="voucher"
              name="voucher"
              class="e-input"
              formControlName="VoucherId"
            />
            <div class="e-error" *ngIf="VoucherId.errors && VoucherId.touched">
              <div *ngIf="VoucherId.errors['required']">
                *Voucher Id is required
              </div>
            </div>
            <label for="date">Date</label>
            <ejs-datepicker
              formControlName="Date"
              [value]="Date.value"
              id="date"
              name="date"
              [ngStyle]="{ display: 'none' }"
            >
            </ejs-datepicker>
            <ejs-maskedtextbox
              mask="[0-1][0-3]/[0-3][0-9]/[2-9][0-9][0-9][0-9]"
              formControlName="Date"
              [value]="Date.value"
              id="date"
              name="date"
              placeholder="date(mm/dd/yyyy)"
            ></ejs-maskedtextbox>

            <div class="e-error" *ngIf="Date.errors && Date.touched">
              <div *ngIf="Date.errors['required']">
                *Date of Post is required
              </div>
            </div>
          </div>

          <div class="col-5">
            <label for="description">Description</label>
            <input
              type="text"
              id="description"
              name="description"
              class="e-input"
              formControlName="Description"
            />
            <div
              class="e-error"
              *ngIf="Description.errors && Description.touched"
            >
              <div *ngIf="Description.errors['required']">
                *Description is required!
              </div>
            </div>
            <label for="description">Reference</label>
            <input
              type="text"
              id="reference"
              name="reference"
              class="e-input"
              formControlName="Reference"
            />
          </div>
          <!-- <div class="col-1"></div> -->
          <div class="col-2" id="post-button">
            <button
              [disabled]="!isEqual"
              id="add-button"
              [ngClass]="this.Posted.value ? 'bg-danger' : 'e-info'"
              type="button"
              ejs-button
              class="e-pluse e-info"
              (click)="setPostStatus()"
            >
              {{ Posted.value ? "Unpost" : "Post" }}
            </button>
          </div>
        </div>
      </div>

      <div class="section-two">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-5">
                Account Id
              </div>
              <div class="col-5">
                <div class="row">
                  <div class="col-6">
                    Debit
                  </div>
                  <div class="col-6">
                    Credit
                  </div>
                </div>
              </div>
              <div class="col-2" id="action-header">
                Action
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              class="row"
              *ngFor="
                let account of Entries.controls;
                let i = index;
                let last = last
              "
              [formGroup]="account"
            >
              <div class="col-5">
                <div class="form-group">
                  <app-account-selector
                    formControlName="AccountId"
                    [attr.id]="'parentAccount' + i"
                    [attr.name]="'parentAccount' + i"
                  ></app-account-selector>
                </div>
                <div class="e-error" *ngIf="account.get('AccountId').touched">
                  <div
                    class="e-error"
                    *ngIf="account.get('AccountId').hasError('incorrect')"
                  >
                    *Please select a valid account
                  </div>
                </div>
              </div>
              <div class="col-5">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group text-center">
                      <ejs-numerictextbox
                        min="0"
                        formControlName="Debit"
                        [attr.name]="'Debit' + i"
                        [attr.id]="'Debit' + i"
                        placeholder="Debit"
                      >
                      </ejs-numerictextbox>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group text-center">
                      <ejs-numerictextbox
                        min="0"
                        formControlName="Credit"
                        [attr.name]="'Credit' + i"
                        [attr.id]="'Credit' + i"
                        placeholder="Credit"
                      >
                      </ejs-numerictextbox>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-1"></div> -->
              <div class="col-2" id="remove-buttons">
                <button
                  id="remove-button"
                  type="button"
                  ejs-button
                  cssClass="e-round e-danger e-small"
                  iconCss="e-icons e-close"
                  *ngIf="Entries.controls.length > 2 && !isUpdate"
                  (click)="removeRow(i)"
                ></button>
              </div>
            </div>
            <div class="row">
              <div class="col-5"></div>
              <div class="col-5">
                <div class="row">
                  <div class="col-6">
                    <small>{{ debitSum | currency: "":"" }}</small>
                  </div>
                  <div class="col-6">
                    <small>{{ creditSum | currency: "":"" }}</small>
                  </div>
                </div>
              </div>
              <div class="col-1" id="add-icon">
                <button
                  [disabled]="!Entries.valid"
                  id="add-button"
                  type="button"
                  ejs-button
                  class="e-pluse e-info"
                  cssClass="e-round e-primary e-small"
                  iconCss="e-icons e-plus-icon"
                  (click)="addForm()"
                ></button>
              </div>
            </div>
            <div class="row">
              <div class="col-5"></div>
              <div
                class="col-5 last-section"
                [ngStyle]="{
                  background: lastSectionBackColor,
                  color: lastSectionColor
                }"
              >
                <div class="row">
                  <div class="col-6">
                    <small
                      >Difference:
                      {{ debitSum - creditSum | currency: "":"" }}</small
                    >
                  </div>
                  <div class="col-6">
                    <p *ngIf="!isEqual">
                      <small>Credit And Debit amount are not Equal</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-form-options
    [isUpdate]="isUpdate"
    [submitDisabled]="ledgerForm.invalid"
  ></app-form-options>
</form>
