.checklist-content {
  position: relative;
}

/* 
@media print {
  @page {
    size: A4 landscape;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: none;
  }
} */


@media print {
  #grid_867862622_0_toolbarItems {
    display: none;
  }

  .e-gridpager.e-control.e-pager.e-lib {
    display: none;
  }

  .e-icons.e-dtdiagonaldown.e-icon-gdownarrow,
  .e-icons.e-dtdiagonalright.e-icon-grightarrow {
    display: none;
  }
}
