<app-print-header [header]="'Account types'"></app-print-header>

<app-print-header [header]="'Account Type'"></app-print-header>
<app-grouped-data-view
  [gridData]="data"
  [showAdd]="true"
  [showUpdate]="true"
  [addPrivilage]="'canAddAccountType'"
  [updatePrivilage]="'canUpdateAccountType'"
  [deletePrivilage]="'canDeleteAccountType'"
  [showDelete]="true"
  [columnsList]="columnBluePrint"
  [groupBy]="groupBy"
  (dataStateChaged)="onDataStateChange($event)"
  (deleteRecord)="deleteAccountType($event)"
  #grid
>
</app-grouped-data-view>
