@media print {
  .e-toolbar-items.e-tbar-pos {
    display: none;
  }

  .e-table {
    font-family: 'Courier New', Courier, monospace;
  }

  #accounts_toolbarItems {
    display: none;
  }

  .e-grid.e-default * {
    height: auto !important;
    overflow: hidden !important;
  }

  .e-sortfilterdiv.e-icons.e-ascending.e-icon-ascending {
    display: none;
  }

  .e-sortnumber {
    display: none;
  }

}
