<ejs-grid
  [dataSource]="data"
  #grid
  [allowExcelExport]="true"
  id="accounts"
  [toolbar]="toolbarOptions"
  [allowPaging]="true"
  [allowFiltering]="true"
  [allowSorting]="true"
  [allowResizing]="true"
  allowFiltering="true"
  [showColumnChooser]="true"
  [selectionSettings]="selectionOptions"
  [allowPdfExport]="true"
  [allowGrouping]="true"
  (toolbarClick)="toolbarClick($event)"
  [pageSettings]="initialPage"
  [filterSettings]="filterOptions"
  [childGrid]="childGrid"
  [showColumnChooser]="true"
  [groupSettings]="groupOptions"
  (actionComplete)="actionEndHandler($event)"
>
  <e-columns>
    <e-column
      field="Id"
      textAlign="left"
      headerText="ID"
      isPrimaryKey="true"
      type="number"
      width="30"
      editable="false"
      filterable="false"
      groupable="false"
      [visible]="true"
    >
    </e-column>

    <e-column
      field="Type"
      textAlign="left"
      headerText="Account type"
      isPrimaryKey="false"
      type="string"
      editType="textbox"
      filterable="true"
      editable="true"
      groupable="false"
      [width]="200"
    ></e-column>
    <e-column
      field="AccountType"
      textAlign="left"
      headerText="AccountType"
      isPrimaryKey="false"
      type="string"
      editType="textbox"
      filterable="true"
      editable="true"
      groupable="false"
      [width]="100"
    ></e-column>
    <!--     <e-column field="TotalAmount" textAlign="left" headerText="Amount" isPrimaryKey="false" type="string" editType="textbox"
      filterable="true" editable="true" groupable="true" width='50'></e-column> -->
    <e-column
      field="IsSummary"
      textAlign="left"
      headerText="Summarize report"
      isPrimaryKey="false"
      type="bool"
      editType="booleanedit"
      filterable="true"
      editable="true"
      groupable="true"
      width="100"
    ></e-column>
    <e-column
      field="DateAdded"
      textAlign="left"
      headerText="Added"
      isPrimaryKey="false"
      type="datetime"
      [format]="'yMd'"
      editType="textbox"
      filterable="true"
      editable="true"
      groupable="false"
      [width]="100"
      [visible]="false"
    ></e-column>
    <e-column
      field="DateUpdated"
      textAlign="left"
      headerText="Updated"
      isPrimaryKey="false"
      type="date"
      [format]="'yMd'"
      editType="textbox"
      filterable="true"
      editable="true"
      [visible]="false"
      groupable="false"
      [width]="100"
    ></e-column>
    <e-column [commands]="commands" [width]="50" textAlign="center"></e-column>
  </e-columns>
  <e-aggregates>
    <e-aggregate>
      <e-columns>
        <e-column field="TotalAmount" type="sum" format="C2">
          <ng-template #groupFooterTemplate let-data
            >Sum: {{ data.sum }}</ng-template
          >
        </e-column>
      </e-columns>
    </e-aggregate>
  </e-aggregates>
</ejs-grid>
