@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

.e-search:before {
  content: '\e993';
}



body {
  background-color: #ecf0f5 !important;
  padding: 0px;
}

.e-plus-icon::before {
  content: '\e823';
}

.e-close::before {
  content: '\e7fc';
}

.e-Excel_Export::before {
  content: '\e242';
}

.e-expand::before {
  content: '\e919';
}

.e-create::before {
  content: '\e555'
}

.e-collapse::before {
  content: '\e918'
}

.e-acrdn-header {
  background-color: rgb(217, 224, 212);
}

@media print {
  .e-acrdn-item.e-select {
    display: none
  }


  .content-head {
    display: none;
  }

  .e-emptyrow {
    display: none !important;
  }

  .e-gridpager.e-control.e-pager.e-lib {
    display: none;
  }

  .e-btn-icon.e-edit.e-icons {
    display: none;
  }

  .e-btn-icon.e-delete.e-icons {
    display: none;
  }

  .e-icons.e-dtdiagonaldown.e-icon-gdownarrow,
  .e-icons.e-dtdiagonalright.e-icon-grightarrow {
    display: none;
  }

  .e-filtermenudiv.e-icons.e-icon-filter {
    display: none;
  }

  #dataview_toolbarItems {
    display: none;
  }

  .e-table {
    font-family: 'Courier New', Courier, monospace;
  }
}
