


button {
  width: 140px;
  height: 45px;
  text-transform: uppercase;
  color: white;

  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-size: larger;
}


button.e-primary {
    background: #4d841d;
}


button.e-danger {
    background: red;
}
