<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="info">
            <p>
              Create New Budger Year and Transfer the closing amount to new budger 
              year you are only allowed to create one budget year after the closing date.
            </p>
          </div>
          <div class="button-cont">
            <div class="row text-center">
              <button ejs-button class="e-primary" (click)="create()">
                Create
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="info">
            <p>
              Delete Last Budget year. It only allow you to delete if there is no transaction created.
            </p>
          </div>
          <div class="button-cont">
            <div class="row text-center">
              <button ejs-button class="e-danger" (click)="delete()">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
